.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ccc;
}

.navbar-title {
  font-size: 24px;
  font-weight: bold;
}

.search-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
}

.search-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-results {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  z-index: 1;
}

.search-result {
  padding: 8px;
  cursor: pointer;
}

.search-result:hover {
  background-color: #f1f1f1;
}
